/* CSS file */
Ratings{
	horizontalGap:3;
	paddingTop:3;
	paddingLeft:6;
}

RatingItem{
	borderAlpha:0;
    fillEnabled:true;
	fillColors:#333333,#CCCCCC;
	fillSelectedColors:#FF6600,#FFFFCC;
	fillAlphas:1,1;
	fillRatios:0,255;
	fillAngle:90;
			
}
